<div class="row">
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <ul>
    {{#each model as |rental|}}
      {{rental-tile rental=rental}}
    {{/each}}
  </ul>
  {{new-rental saveRental2="saveRental3"}}
</div>
